* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(243, 205, 205);
    color: green;
    font-family: Arial, Helvetica, sans-serif; /* backup font */
    font-family: 'Tangerine', serif; /* overwrites when available */
    font-size: 32px;
    text-align: center;
}

/* section#portfolio */
.fixed_header {
    position: fixed;
    width: 99%;
    margin-top: -8px;
    margin-bottom: 0;
    margin-right: 10px;
    padding-bottom: 0;
    padding-bottom: 0;
    z-index: 2;

    text-align: left;
    margin: auto;
    margin-top: -10px;
    height: 157px;    
}

.space { padding-top: 117px;}

.anchor {
    display: block;
    height: 150px;
    margin-top: -150px;
    visibility: hidden;
}

section {
    border-style: groove;
    border-radius: 5px;
    padding: 25px;
    margin: 10px, auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(243, 205, 205);
}

ul {list-style-type: none;}


.main-nav li {
    display: block;
    min-width: fit-content;
    margin: 10px, auto;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    
}

#portfolio.h1 { text-align: left;}

h1 {
    line-height: 50%;
    font-size: 150%;
    font-weight: 900;
    font: yellowgreen;
}

h2 {
    font-size: 120%;
    font-weight: 800;
    font: darkgreen;
}

section#experience li, section#skills li {
    display: block;
    background-color: rgb(248, 222, 225);
    max-width: fit-content;
    margin: 5px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border: 2px solid;
    border-radius: 5px;
    border-style: ridge;
}

.experience_flex, .skills_flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

label {
    font-size: 120%;
    color:seagreen;
}

input, textarea {
    font-size: medium;
    padding: 15px, 15px;
    margin: 15px, auto;
    margin-right: 25px;
    background-color: whitesmoke;
    color: darkolivegreen;
    border: 2px solid green;
    border-radius: 5px;
    border-style: groove;
    width: 400px;
}


/* customizes Submit, edit and remove buttons */
button {
    background-color: lightgrey;
    border-style: groove;
    border-radius: 5px;
    padding: 15px, 15px;
    margin: 100px, auto;
    width: 150px;
}

a.message { font-style: italic;}

a.link, a:visited, a[href^="mailto:"], a[href^="mailto:"]::after {
    color: darkgreen
}

span.message {
    font-weight: 500;
    font-variant: small-caps;
}

footer ul, footer section { 
    display: flex;
    flex-wrap: wrap;
}

footer section { 
    width: 100%;
    padding: 0;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.copyright, .fa, .fab {
    margin: 0 10px 0 10px;
}

@media print {
    section {
      min-height: auto;
    }
}

@media screen and (max-width: 415px) {
    input, textarea {
        background-color: blanchedalmond;
    }
  }

@media (min-width: 769px) {

    .lm_form,
    #messages ul {
		display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .lm_form {
        justify-content: flex-start;
    }

}

@media  (max-width: 1070px) {
    ul.main-nav { display: none; }
    #portfolio h1 { text-align: center; }
}
@media (min-width: 1071px) {

	#portfolio,
    .main-nav,
    .lm_form,
    #messages ul {
		display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}
